.container {
  // border: 1px solid red;
  width: 100%;
  .booking-info {
    width: 90%;
    // border: 1px solid yellowgreen;
    .button-container {
      width: 100%;
      .search-box {
        // border: 1px solid white;
        width: 300px;
        height: 40px;
        display: flex;
        justify-content: center;
        background-color: white;
        border-radius: 3px;

        .search-icon {
          margin-left: 10px;
          margin-right: 5px;
        }

        .search-field {
          // display: flex;
          width: 270px;
          height: 35px;
          border: none;
          background-color: transparent;
          border: 0px solid;
        }
        textarea:focus, input:focus{
          outline: none;
        }

      }
      // border: 1px solid red;
      .add-bookings-button {
        margin: 15px;
        color: white;
        background-color: black;
      }
    }
    .table-bookings {
      width: 100%;
      .booking-table {
        width: 100%;
        .hypeLink {
          color: black;
        }
      }
    }
  }
}
