<div class="dialog-box" fxLayout="row">
  <img class="dialog-image" src="assets/booking.jpg" alt="">

  <div class="booking-form" fxLayout="column">
    <div class="dining-space">
      <div class="dining-space__title">Select your dining space</div>
      <div class="toggle-buttons">
        <mat-button-toggle-group #group="matButtonToggleGroup" [value]="" (change)="display(group.value)"  class="toggle-button-group" vertical="false">
            <mat-button-toggle class="toggle-button" [value]="2">
              <div class="toggle-button__box" fxLayout="row" fxLayoutAlign="space-between center">
                <img src="assets/fork-logo.png" alt="">
                <div class="value">
                    <h1>02</h1>
                    <h3>Person</h3>
                </div>
              </div>
            </mat-button-toggle>
            <mat-button-toggle class="toggle-button" [value]="4">
              <div class="toggle-button__box" fxLayout="row" fxLayoutAlign="space-between center">
                <img src="assets/fork-logo.png" alt="">
                <div class="value">
                  <h1>04</h1>
                  <h3>Person</h3>
              </div>
              </div>
            </mat-button-toggle>
            <mat-button-toggle class="toggle-button" [value]="0">
              <span>Custom</span>
            </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>


    <div [formGroup]="bookingInfoForm" class="booking-information"  >

      <mat-divider></mat-divider>

      <div fxLayout="row wrap" style="margin-top: 30px;" >
        <mat-form-field class="form-field" appearance="outline"  fxFlex="23">
          <mat-label>Custom Dining Space</mat-label>
          <input [readonly]="viewInformation" formControlName="Dining_Space" [value]="group.value" type="text" matInput>
        </mat-form-field>

        <mat-form-field class="form-field" appearance="outline" fxFlex="23">
          <mat-label>Occasion</mat-label>
          <input [readonly]="viewInformation" formControlName="Occasion" type="text" matInput>
        </mat-form-field>

        <mat-form-field class="form-field" appearance="outline" fxFlex="23">
          <mat-label>Occasion Date</mat-label>
          <input [readonly]="viewInformation" formControlName="Booking_Date" matInput [matDatepicker]="picker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <!-- <input type="text" matInput> -->
        </mat-form-field>

        <mat-form-field  class="form-field" appearance="outline" fxFlex="23">
          <mat-label>Occasion Time</mat-label>
          <!-- <input formControlName="Booking_Time" type="text"  matInput> -->
          <mat-select  formControlName="Booking_Time">
            <mat-option  *ngFor="let time of bookingTimes" [value]="time" >
              <option  [value]="time">{{time}}</option>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-divider></mat-divider>
      <!-- <h2>________________________________________________________________________</h2> -->

      <div fxLayout="row wrap" style="margin-top: 30px;" >
        <mat-form-field class="form-field" appearance="outline" fxFlex="19">
          <mat-label>Enter Name</mat-label>
          <input [readonly]="viewInformation" formControlName="Name" type="text" matInput>
        </mat-form-field>

        <mat-form-field class="form-field" appearance="outline" fxFlex="19">
          <mat-label>Phone Number</mat-label>
          <input [readonly]="viewInformation" formControlName="Phone_Number" type="text" matInput>
        </mat-form-field>

        <mat-form-field class="form-field" appearance="outline" fxFlex="31">
          <mat-label>Email Id</mat-label>
          <input [readonly]="viewInformation" formControlName="Email" type="text" matInput>
        </mat-form-field>

      </div>
    </div>

    <div class="submit-button" fxLayoutAlign="end">
      <button mat-dialog-close mat-raised-button >CLOSE</button>
      <button (click)="addBooking()" mat-raised-button [disabled]="viewInformation">{{dialogType}}</button>
    </div>

  </div>
</div>
